/*********************************************/
/* HEIGHT */
/*********************************************/
.h-100 {
  height: 100%;
}
/*********************************************/


/*********************************************/
/* GRID SYSTEM */
/*********************************************/
.grid-container {
  display: grid;
  /* background-image: url('clear-bg.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-item-left {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: 1 / 4;
}

.grid-item-right {
  backdrop-filter: blur(15px);
  box-shadow: 2px 1px 3px 0.1px white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: 4;
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-grid-1-3 {
  grid-column: 1 / 3;
}

.d-grid-3 {
  grid-column: 3;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-bigger {
  flex-basis: 0;
  flex-grow: 2;
}

.col-smaller {
  flex-basis: 0;
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

/*********************************************/

/*********************************************/
/* TEXT */
/*********************************************/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

p {
  font-size: 18px;
  color: #fff;
}

div .d-grid div p{
  margin: 10px 0;
}

.city {
  font-size: 35px !important;
  font-weight: 500;
  margin-bottom: 0px;
}

.date {
  font-size: 18px !important;
  font-weight: 500;
  margin-top: 0px;
}

.state {
  font-size: 25px !important;
  font-weight: 500;
  margin-top: -20px;
}

.icon {
  margin-top: 1em;
}

.items-box {
  width: 80%;
  margin: 0 auto;
}

.temp {
  font-size: 100px;
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.hr {
  color: white;
  width: 100%;
  border-width: 1px;
  margin: 25px 0;
  border-style: solid;
}

.fw-400 {
  font-weight: 400;
}
/*********************************************/

/*********************************************/
/* MARGINS */
/*********************************************/
.mt-auto {
  margin-top: auto;
}

.mb-50px{
  margin-bottom: 50px;
}

.mb-40px{
  margin-bottom: 40px;
}
/*********************************************/

/*********************************************/
/* WIDTH */
/*********************************************/
.w-100 {
  width: 100%;
}

.w-100px {
  width: 100px;
}
/*********************************************/

/*********************************************/
/* SELECT */
/*********************************************/
select {
  width: 70%;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

select::after {
  border: 2px solid #fff;
}
/*********************************************/